<head>
  <link rel="stylesheet" href="../../public/stylesheet.css">
</head>
<div class="container">
    <form style = "align-self: center;" method="post" action="/auth">
      <div class="form-group">
        <label for="exampleinputname">name</label>
        <input type="name" class="form-control" id="exampleinputname" name="name" aria-describedby="namehelp" placeholder="Enter Name" style="border-radius: 10px; border: 1px solid gray; padding: 10px;">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" style="border-radius: 10px; border: 1px solid gray; padding: 10px;">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" style="border-radius: 10px; border: 1px solid gray; padding: 10px;">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px; background-color: blue; width: 250px; height: 50px; color: white; justify-content: center;">Submit</button>

    <small id="emailHelp" class="form-text text-muted" style="padding-top: 10px;">We'll never share your email with anyone else.</small>
  </form>
</div>
